.firstDiv2{
    background-color: rgb(15, 15, 79);
    width: 700px;
    margin-top: 20px;
    margin-left: 430px;
    height: 80px;
    color: rgb(255, 255, 255);

}
.details{
    font-size: 15px;
    font-weight: 500;
    margin-left: 100px;
}